html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    flex: auto;
    width: 100%;
    height: 100%;
    touch-action: none;
}

#mainSection {
    display: flex;
}

#domOutput {
    flex: auto;
    white-space: pre;
    width:350px;
    height:700px;
    overflow-x: auto;
    overflow-y: auto;
    font-family: Consolas;
    font-size: 9pt;
}